.universal-list-container {
  background-color: white;
  opacity: 0.9;
  border-width: 0px;
  border-radius: 3px;
  border-color: #B6B6B6;
  border-style: solid;
  padding: 10px;
  margin: 0 auto;
  height: 84vh;
  min-height: min-content;
}

.universal-list-container h1 {
  text-align: center;
}

.active-cyan-4 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan-4 {
  margin-bottom: 10px;
}

.universal-list-container .links {
  text-align: center;
}

.universal-list {
  display: inline-flex;
}

.one-table {
  height: 68vh;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.short-list {
    height: 54vh;
    overflow-y: hidden;
}


.card {
  min-width: 340px;
}

#universal-list {
  max-width: 250px;
  min-width: 200px;
  padding-left: 20px;
}

.scrollspy-universal-list {
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 12px;
  margin-top: 2px;
  /*max-width: 300px !important;*/
  max-height: 72vh;
}

@media all and (max-width: 480px) {
/* @media all and (max-device-width: 480px) { */
  .universal-list-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-top: 10px;
    height: 75vh;
    min-height: min-content;
    max-width: -webkit-fill-available;
  }

  #universal-list {
    width: 0px;
    min-width: 0px;
    visibility: hidden;
    padding-left: 0px;
  }
  .universal-list {
    max-width: -webkit-fill-available;
  }
}
