#two-columns-forms-second {
  max-width: 400px;
}

#two-columns-forms-second .dynamicarraywidget.form-control {
  margin-bottom: 10px;
  width: 385px;
}

@media all and (max-width: 480px) {
/* @media all and (max-device-width: 480px) { */
  #two-columns-forms-second {
    max-width: inherit;
  }
}
